body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;  
    font-size: 18px;
}


/*------------------MAIN--------------------*/

.main {
    height: 850px;
}
.addschoolcont {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #6e7498;
    margin-top: 40px;
    width: 100%;
    font-size: 20px;

}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    border-radius: 2px;
    width: 420px;
    height: 60px;
    font-size: 20px;
    text-align: center;
}
.head h4 {
    margin: 0;
}

.form_cont {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forma{
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin-top: 20px;
}

.schoolcont {
    display: flex;
    flex-direction: column;
}

.directorcont {
    display: flex;
    flex-direction: column;
}


.schoolcont h4, .directorcont h4 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #eaeaea;
}
.check {
    border-radius: 5px;
    margin: 10px 0;
}
input[type="text"] {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: #eeeeee;
    padding: 0 10px;
    margin-top: 5px;    
}
input:focus {
    box-shadow: 0 0 5px #6e7498;
    transition: 0.3s ease;
}

._error{
    box-shadow: 0 0 5px red;
}

._succes{
    box-shadow: 0 0 5px green;
}


.buttoncont {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
textarea {
    font-family: 'Josefin Sans', sans-serif;  
    width: 250px;   
    height: 120px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    background-color: #eeeeee;
    resize: none;
    padding: 10px;
    margin-top: 5px;
}


textarea:focus {
    box-shadow: 0 0 5px #6e7498;
    transition: 0.3s ease;
}


input[name="ok"] {
    font-size: 18px;
    border: 2px solid #6e7498;
    color: #6e7498;
    background-color: white;
    border-radius: 4px;
    padding: 7px 14px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

input[name="ok"]:hover{
    color: #f3d67d;
    border-color: #f3d67d;

}



/*---------------------------------------------------*/

  /* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .form{
        width: 650px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .form{
        width: 600px;
    }
    .head {
        width: 380px;
    }

}


@media only screen and (max-width: 660px) {
    .form{
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
    .main {
        height: 1300px;
    }
    .schoolcont h4, .directorcont h4 {
        width: 280px;
        margin: 15px 0;
    }
    .buttoncont {
        justify-content: center;
        margin-top: 20px;
    }
    input[name="ok"] {
        width: 280px;
    }
    .head {
        width: 350px;
    }

}



/* Custom, iPhone Retina */
@media only screen and (max-width: 480px) {
    .head {
        width: 300px;
    }
}

@media only screen and (max-width: 375px) {

}