
body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    font-size: 19px;
}

/*-----------HEADER---------------*/
a {
    text-decoration: none;
}
#second, #burger_second {
    color: #f3d67d;
}

/*---------------TAB-2------------------*/


.tabs-content {
    display: flex;
    justify-content: center;
    color: white;
    
}
#btnScrollToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 9;
    
}
#ScrollToTop {
    width: 50px;
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.35s ease;
}
#ScrollToTop:hover {
    opacity: 1;
}

.tabs-content__item {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
} 



.tab-2_content {
    display: block;
    display: flex;
    justify-content: center;
}

.firstcolumn--2 a,.secondcolumn--2 a{

    color: #353535;
    font-size: 17.5px;
}
.number-of-people{
    color: #353535;
    font-size: 17px;
}
.secondcolumn--2 {
    display: flex;
    flex-direction: column;
}

.tab-2_content--hidden {
    display: none;
}


/*---------------peoplelist----------------*/
.people-list {
    display: flex;
    justify-content: center;
    background-color: #eeeeee;
    flex-direction: column;
    width: 160px;
    height: 120px;
    padding-left: 20px;
    border-radius: 3px;
}

.people-list a{
    margin-top: 7px;
}

#block {
    color: #acacac;
}

.find-triggers__item:hover {
    color: #f3d67d;
}



.find-content__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
} 

.buttons {
    width: 180px;
    margin-top: 15px;
}
.subjects, .cabinets {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-top: 2px solid #eeeeee;
}
.cabinets {
    border-bottom: 2px solid #eeeeee;
}

.subjects a, .cabinets a {
    text-align: center;
    color: #404040;
    justify-content: flex-end;
    margin: 0;
}

.subjects a:hover, .cabinets a:hover {
    color: #f3d67d;
}
.peoples {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*---------------newpeoplebutton-----------*/

.buttons-top {
    display: flex;
    justify-content: flex-end;
    width: 670px;
}
.addteacher {
    margin-left: 10px;
}

.buttons-top a {
    display: flex;
    border: 2px solid #404040;
    color: #404040;
    justify-content: flex-end;
    margin: 0;
    border-radius: 4px;
    padding: 5px 10px;
  
}

.buttons-top a:hover{
    color: #f3d67d;
}

/*-----------findpanel------------*/
.find-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeeeee;
    margin-top: 20px;
    width: 660px;
    border-radius: 5px;
    height: 80px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}
.find-panel text {
    margin-left: 40px;
}


.username, .classname {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 17px;
    color: #404040;

}


input[type="search"] {
    width: 250px;
    height: 30px;
    margin: 15px 0;
    border-radius: 3px ;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: white;
    margin-left: 40px;
    margin-top: 2px;
}


.class {
    width: 100px;
    height: 30px;
    margin: 15px 0;
    border-radius: 3px ;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: white;
    margin-left: 40px;
    margin-top: 2px;
}


.find-button input {
    font-size: 19px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
    color: white;
    background-color: #404040;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 30px;
}


.find-button input:hover {
    background-color: #454545;
    color: #f3d67d;

}
.people-list-adaptive {
    display: none;

}
/*------------------peopleinfo----------*/
.people-panel{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.peopleinfo {
    display: flex;
    width: 660px;
    height: 100px;
    background-color: #eeeeee;
    margin-left: 10px;
    border-radius: 5px;
    color: #404040;
    font-size: 17.5px;
    margin: 10px 0 10px 0;
}

.peopleinfo-wrapper {
    display: block;
    position: relative;
    z-index: 8;
    display: flex;
    align-items: center;
}

.photopeople {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
}

.info-about-people {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    height: 100px;
    width: 560px;

}

.people-name {
    margin-top: 24px;
}
.people-name h3 {
    margin: 0;
}
.bottom_info {
    display: flex;
    justify-content: space-between;
}


input[name="ok"]{
    border-radius: 0 0 4px 0;
    margin: 0;
    width: 170px;
    height: 30px;
    background-color: #d6d6d6;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    display: block;
    position: absolute;
    right:0;
    bottom:0;
}
input[name="ok"]:hover{
    color: #f3d67d;
    background-color: #f6f6f6;
}

input:focus {
    box-shadow: 0 0 5px #6e7498;
    transition: 0.3s ease;
}
.errorfind {
    color: #404040;
}
@media only screen and (max-width: 1200px) {
   
}    
  /* Medium Devices, Desktops */
  @media only screen and (max-width: 992px) {
    .buttons-top {
        width: 610px;
    }
    .peopleinfo {
        width: 600px;
        height: 100px;
    }
    .find-panel {
        width: 600px;
        margin-bottom: 10px;
    }
    .people-list {
        width: 140px;
        height: 120px;
        padding-left: 10px;
    
    }
    .buttons {
        width: 150px;
    }
    .info-about-people {
        width: 500px;
    }
    
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    
    body { 
        font-size: 18px;
    }
    .buttons-top {
        width: 600px;
    }
    .firstcolumn--2 {
        display: none;
    }
    .people-list-adaptive {
        display: block;
        display: flex;
        justify-content: space-around;
        width: 600px;
        margin: 10px 0;
    }
    .find-triggers__item-adaptive {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
        width: 50%;
        text-align: center;
        background-color: #eeeeee;
        height: 32px;
        border-radius: 3px;
    }
    #find-stud {
        border-right: 1px solid #bdbdbd;
    }
    .find-triggers__item-adaptive:hover {
        background-color: #f3d67d;
    }
    .buttons-top {
        width: 600px;
    }
    .find-content__item {
        width: 600px;
        margin-left: 0;
    } 
    
}
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 660px) {
    
    .peopleinfo {
        width: 550px;
    }
    .find-panel {
        width: 550px;
        margin-bottom: 10px;
    }
    .info-about-people {
        width: 450px;
    }
    .people-list-adaptive {
        width: 550px;
    }
    .buttons-top {
        width: 550px;
    }
    .find-content__item {
        width: 550px;
    }
  }
 
  /* Custom, iPhone Retina */
  @media only screen and (max-width: 576px) {
    .peopleinfo {
        width: 470px;
    }
    .find-panel {
        width: 470px;
        margin-bottom: 10px;
    }
    .info-about-people {
        width: 370px;
    }
    .people-list-adaptive {
        width: 470px;
    }
    .buttons-top {
        width: 470px;
    }
    .find-content__item {
        width: 470px;
    }
}

  /* Custom, iPhone Retina */
  @media only screen and (max-width: 480px) {
    .tabs-content__item {
        margin-top: 30px;
    } 
    .peopleinfo {
        display: flex;
        justify-content: center;
        width: 355px;
        height: 260px;
    }
    .find-panel {
        width: 350px;
        margin-bottom: 10px;
    }
    .info-about-people {
        width: 100%;
        align-items: center;
        margin: -10px 0 0 0;
        height: 100px;

    }
    .people-list-adaptive {
        width: 355px;
    }
    .buttons-top {
        width: 355px;
    }
    .find-content__item {
        width: 350px;
    }
    .find-panel text {
        margin-left: 10px;
    }
    
    input[type="search"] {
        width: 220px;
        height: 30px;
        margin-left: 10px;
    }
    .find-button input {
        margin-top: 7px;
        margin-right: 10px;
    }
    .peopleinfo-wrapper {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .photopeople {
        margin-left: 0;
        margin-top: -10px;
        width: 90px;
        height: 90px;
    }
    .people-name h3 {
     text-align: center;
    }
    input[name="ok"]{
        width: 170px;
    }
  }
  @media only screen and (max-width: 360px) {
    .peopleinfo {
        display: flex;
        justify-content: center;
        width: 275px;
        height: 260px;
    }
    .find-panel {        
        display: block;
        width: 275px;
        height: 120px;
        margin-bottom: 10px;
    }
    .info-about-people {
        align-items: center;
        margin: -10px 0 0 0;
        height: 100px;

    }
    .people-list-adaptive {
        width: 275px;
    }
    .buttons-top {
        width: 275px;
    }
    .find-content__item {
        width: 275px;
    }
    .find-panel text {
        margin-left: 10px;
    }
    
    input[type="search"] {
        width: 220px;
        height: 30px;
        margin-left: 10px;
    }
    .find-button input {
        margin: 0;
        display: block;
        position: absolute;
        right: 10px;
        bottom: 10px;

    }
    .username {
        margin-top: 10px;
    }
    .addteacher, .addstudent {
        text-align: center;
    }
    .buttons-top {
        justify-content: center;
    }
    .buttons-top a {
        padding: 5px 8px;
    }
}




  /* Custom, iPhone Retina */
  @media only screen and (max-width: 280px) {

  }
