a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    font-size: 18px;
}




main {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 600px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}

.menu__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 120px;
    background-color: rgba(241, 241, 241, 0.933);
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.menu__left li {
    margin: 4px 0;
    width: 90%;
}

.menu__left a {
    color: rgb(55, 114, 190);

}

.menu__left a:hover {
    color: rgb(255, 223, 41);
    transition: 0.3s ease;
}

.content__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}


.head__name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    margin: 0;
    background-color: rgba(241, 241, 241, 0.933);
}

.head__name h1 {
    color: rgb(55, 114, 190);
    margin: 0;
    font-size: 26px;
}

.schools {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.schoolinfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    height: 120px;
    background-color: rgba(241, 241, 241, 0.933);
    border-radius: 7px;
    color: rgb(55, 114, 190);
    margin: 10px;
    cursor: pointer;
}
.schoolinfo:hover {
    box-shadow: 1px 1px 10px rgb(55, 114, 190);
    transition: 0.3s ease;
} 
.schoolinfo h3 {
    margin-bottom: 3px;
}

/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
  @media only screen and (max-width: 1200px) {
    body {
        font-size: 17.5px;
    }
    .logo {
        font-size: 32px;
    }
    .menu__left {
        width: 190px;
    }
    .content__right {
        margin-left: 30px;
    }
    .head__name {
        width: 490px;
    }
    .head__name h1 {
        font-size: 24px;
    }
    .schoolinfo {
        width: 690px;
    }
  }
  /* Medium Devices, Desktops */
  @media only screen and (max-width: 992px) {
    body {
        font-size: 17px;
    }
    header {
        height: 80px;
    }
    .logo {
        font-size: 28px;
        margin: 0 0 0 35px;
    }
    .menu__left {
        width: 170px;
    }
    .content__right {
        margin-left: 10px;
    }
    .head__name {
        width: 490px;
    }
    .head__name h1 {
        font-size: 22px;
    }
    .schoolinfo {
        width: 560px;

    }
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    body {
        font-size: 17px;
    }
    header {
        height: 75px;
    }
    .logo {
        font-size: 26px;
        margin: 0 0 0 25px;
    }
    .menu__left {
        display: none;
    }
    .content__right {
        margin: 0;
    }
    .head__name {
        width: 420px;
    }
    .head__name h1 {
        font-size: 21px;
    }
    .schoolinfo {
        width: 600px;

    }
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (max-width: 660px) {
    body {
        font-size: 16.5px;
        
    } 
    
    header {
        height: 75px;
    }
    .logo {
        font-size: 26px;
        margin: 0 0 0 25px;
    }

    .content {
        margin: 30px 0 0 0;
    }
    .menu__left {
        display: none;
    }
    .content__right {
        margin: 0;
    }
    .head__name {
        width: 420px;
    }
    .head__name h1 {
        font-size: 21px;
    }
    .schools {
        margin-top: 20px;
    }
    .schoolinfo {
        flex-direction: column;
        align-items: flex-start;
        width: 420px;
        height: 200px;

    }
    .schoolinfo__abrname, .schoolinfo__town, .schoolinfo__director{
        padding-left: 35px;
    }
  }
  /* Custom, iPhone Retina */
  @media only screen and (max-width: 480px) {
    body {
        font-size: 16px;
        
    }
    header {
        height: 60px;
    }
    .logo {
        font-size: 20px;
        margin: 0 0 0 10px;
    }

    .content {
        margin: 20px 0 0 0;
    }
    .menu__left {
        display: none;
    }
    .head__name {
        width: 280px;
    }

    .schools {
        margin-top: 20px;
    }
    .schoolinfo {
        flex-direction: column;
        align-items: flex-start;
        width: 280px;
        height: 210px;

    }
    .schoolinfo__name, .schoolinfo__town, .schoolinfo__director{
        padding-left: 35px;
    }

  }


    /* Extra Small Devices, Phones */
  @media only screen and (max-width: 320px) {
    /* */
  }
